References/ONVIF_Tester/ONVIF_TestCases/xsd/devicemgmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Josh (none) -->
<xs:schema targetNamespace="http://www.onvif.org/ver10/device/wsdl" xmlns:tt="http://www.onvif.org/ver10/schema" xmlns:tds="http://www.onvif.org/ver10/device/wsdl" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.onvif.org/ver10/schema" schemaLocation="onvif.xsd"/>
	<!--  Message Request/Responses elements  -->
	<!--===============================-->
	<xs:element name="GetDeviceInformation">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDeviceInformationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Manufacturer" type="xs:string"/>
				<xs:element name="Model" type="xs:string"/>
				<xs:element name="FirmwareVersion" type="xs:string"/>
				<xs:element name="SerialNumber" type="xs:string"/>
				<xs:element name="HardwareId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetSystemDateAndTime">
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>
	  If time is obtained via NTP, UTCDateTime has no meaning
	</xs:documentation>
				</xs:annotation>
				<xs:element name="DateTimeType" type="tt:SetDateTimeType"/>
				<xs:element name="DaylightSavings" type="xs:boolean"/>
				<xs:element name="TimeZone" type="tt:TimeZone" minOccurs="0"/>
				<xs:element name="UTCDateTime" type="tt:DateTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetSystemDateAndTimeResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetSystemDateAndTime">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSystemDateAndTimeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SystemDateAndTime" type="tt:SystemDateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetSystemFactoryDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FactoryDefault" type="tt:FactoryDefaultType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetSystemFactoryDefaultResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="UpgradeSystemFirmware">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Firmware" type="tt:AttachmentData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpgradeSystemFirmwareResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Message" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SystemReboot">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemRebootResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Message" type="xs:string" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="RestoreSystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BackupFiles" type="tt:BackupFile" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RestoreSystemResponse">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetSystemBackup">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSystemBackupResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BackupFiles" type="tt:BackupFile" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetSystemSupportInformation">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSystemSupportInformationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SupportInformation" type="tt:SupportInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetSystemLog">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LogType" type="tt:SystemLogType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSystemLogResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SystemLog" type="tt:SystemLog"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetScopes">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetScopesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Scopes" type="tt:Scope" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetScopes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Scopes" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetScopesResponse">
		<xs:complexType>
			<xs:sequence>
   </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="AddScopes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ScopeItem" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddScopesResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="RemoveScopes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ScopeItem" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoveScopesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ScopeItem" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetDiscoveryMode">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDiscoveryModeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DiscoveryMode" type="tt:DiscoveryMode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetDiscoveryMode">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DiscoveryMode" type="tt:DiscoveryMode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetDiscoveryModeResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetRemoteDiscoveryMode">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetRemoteDiscoveryModeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RemoteDiscoveryMode" type="tt:DiscoveryMode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetRemoteDiscoveryMode">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RemoteDiscoveryMode" type="tt:DiscoveryMode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetRemoteDiscoveryModeResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetDPAddresses">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDPAddressesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DPAddress" type="tt:NetworkHost" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetDPAddresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DPAddress" type="tt:NetworkHost" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetDPAddressesResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetUsers">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetUsersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="User" type="tt:User" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="CreateUsers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="User" type="tt:User" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateUsersResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="DeleteUsers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteUsersResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetUser">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="User" type="tt:User" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetUserResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetWsdlUrl">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetWsdlUrlResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="WsdlUrl" type="xs:anyURI"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetCapabilities">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Category" type="tt:CapabilityCategory" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!--===============================-->
	</xs:element>
	<xs:element name="GetCapabilitiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Capabilities" type="tt:Capabilities"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetHostname">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetHostnameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HostnameInformation" type="tt:HostnameInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetHostname">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:token"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetHostnameResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetDNS">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetDNSResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DNSInformation" type="tt:DNSInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetDNS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FromDHCP" type="xs:boolean"/>
				<xs:element name="SearchDomain" type="xs:token" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DNSManual" type="tt:IPAddress" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetDNSResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetNTP">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetNTPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NTPInformation" type="tt:NTPInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetNTP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FromDHCP" type="xs:boolean"/>
				<xs:element name="NTPManual" type="tt:NetworkHost" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetNTPResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetDynamicDNS">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDynamicDNSResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DynamicDNSInformation" type="tt:DynamicDNSInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetDynamicDNS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Type" type="tt:DynamicDNSType"/>
				<xs:element name="Name" type="tt:DNSName" minOccurs="0"/>
				<xs:element name="TTL" type="xs:duration" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetDynamicDNSResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetNetworkInterfaces">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetNetworkInterfacesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NetworkInterfaces" type="tt:NetworkInterface" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetNetworkInterfaces">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InterfaceToken" type="tt:ReferenceToken"/>
				<xs:element name="NetworkInterface" type="tt:NetworkInterfaceSetConfiguration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetNetworkInterfacesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RebootNeeded" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetNetworkProtocols">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetNetworkProtocolsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NetworkProtocols" type="tt:NetworkProtocol" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetNetworkProtocols">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NetworkProtocols" type="tt:NetworkProtocol" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetNetworkProtocolsResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetNetworkDefaultGateway">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetNetworkDefaultGatewayResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NetworkGateway" type="tt:NetworkGateway"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetNetworkDefaultGateway">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IPv4Address" type="tt:IPv4Address" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="IPv6Address" type="tt:IPv6Address" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetNetworkDefaultGatewayResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetZeroConfiguration">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetZeroConfigurationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ZeroConfiguration" type="tt:NetworkZeroConfiguration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetZeroConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InterfaceToken" type="tt:ReferenceToken"/>
				<xs:element name="Enabled" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetZeroConfigurationResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetIPAddressFilter">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetIPAddressFilterResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IPAddressFilter" type="tt:IPAddressFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetIPAddressFilter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IPAddressFilter" type="tt:IPAddressFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetIPAddressFilterResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="AddIPAddressFilter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IPAddressFilter" type="tt:IPAddressFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddIPAddressFilterResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="RemoveIPAddressFilter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IPAddressFilter" type="tt:IPAddressFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoveIPAddressFilterResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetAccessPolicy">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAccessPolicyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PolicyFile" type="tt:BinaryData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetAccessPolicy">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PolicyFile" type="xs:anyType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetAccessPolicyResponse">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="CreateCertificate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CertificateID" type="xs:token" minOccurs="0"/>
				<xs:element name="Subject" type="xs:string" minOccurs="0"/>
				<xs:element name="ValidNotBefore" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="ValidNotAfter" type="xs:dateTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateCertificateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NvtCertificate" type="tt:Certificate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetCertificates">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCertificatesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NvtCertificate" type="tt:Certificate" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetCertificatesStatus">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCertificatesStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CertificateStatus" type="tt:CertificateStatus" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetCertificatesStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CertificateStatus" type="tt:CertificateStatus" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetCertificatesStatusResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="DeleteCertificates">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CertificateID" type="xs:token" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteCertificatesResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetPkcs10Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CertificateID" type="xs:token"/>
				<xs:element name="Subject" type="xs:string" minOccurs="0"/>
				<xs:element name="Attributes" type="tt:BinaryData" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPkcs10RequestResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pkcs10Request" type="tt:BinaryData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="LoadCertificates">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NVTCertificate" type="tt:Certificate" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoadCertificatesResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetClientCertificateMode">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetClientCertificateModeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Enabled" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetClientCertificateMode">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Enabled" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetClientCertificateModeResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="GetRelayOutputs">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetRelayOutputsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RelayOutputs" type="tt:RelayOutput" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetRelayOutputSettings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RelayOutputToken" type="tt:ReferenceToken"/>
				<xs:element name="Properties" type="tt:RelayOutputSettings"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetRelayOutputSettingsResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
	<xs:element name="SetRelayOutputState">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RelayOutputToken" type="tt:ReferenceToken" minOccurs="1" maxOccurs="1"/>
				<xs:element name="LogicalState" type="tt:RelayLogicalState" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetRelayOutputStateResponse">
		<xs:complexType>
			<xs:sequence>
  </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--===============================-->
</xs:schema>

