Version2/TestTool 1.2 Service Release/TestTool.Tests.TestCases/Utils/SoapValidation/Schemas/Extracted/deviceio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.onvif.org/ver10/deviceIO/wsdl" xmlns:tt="http://www.onvif.org/ver10/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:import namespace="http://www.onvif.org/ver10/schema" schemaLocation="onvif.xsd"/>
  <!--===============================-->
  <xs:element name="GetVideoOutputs">
    <xs:complexType>
      <xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoOutputsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoOutputs" type="tt:VideoOutput" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>List containing all physical Video output connections of a device.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="GetAudioSourceConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AudioSourceToken" type="tt:ReferenceToken">
          <xs:annotation>
            <xs:documentation>Token of the requested AudioSource configuration.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAudioSourceConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AudioSourceConfiguration" type="tt:AudioSourceConfiguration">
          <xs:annotation>
            <xs:documentation>Current configuration of the Audio input.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="GetAudioOutputConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AudioOutputToken" type="tt:ReferenceToken">
          <xs:annotation>
            <xs:documentation>Token of the physical Audio output.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAudioOutputConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AudioOutputConfiguration" type="tt:AudioOutputConfiguration">
          <xs:annotation>
            <xs:documentation>Current configuration of the Audio output.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="GetVideoSourceConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoSourceToken" type="tt:ReferenceToken">
          <xs:annotation>
            <xs:documentation>Token of the requested VideoSource configuration.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoSourceConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoSourceConfiguration" type="tt:VideoSourceConfiguration">
          <xs:annotation>
            <xs:documentation>Current configuration of the Video input.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="GetVideoOutputConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoOutputToken" type="tt:ReferenceToken">
          <xs:annotation>
            <xs:documentation>Token of the requested VideoOutput configuration.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoOutputConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoOutputConfiguration" type="tt:VideoOutputConfiguration">
          <xs:annotation>
            <xs:documentation>Current configuration of the Video output.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="SetAudioSourceConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Configuration" type="tt:AudioSourceConfiguration"/>
        <xs:element name="ForcePersistence" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>
              The ForcePersistence element determines how configuration
              changes shall be stored. If true, changes shall be persistent. If false, changes MAY revert to previous values
              after reboot.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAudioSourceConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="SetAudioOutputConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Configuration" type="tt:AudioOutputConfiguration"/>
        <xs:element name="ForcePersistence" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>
              The ForcePersistence element determines how configuration
              changes shall be stored. If true, changes shall be persistent. If false, changes MAY revert to previous values
              after reboot.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAudioOutputConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="SetVideoSourceConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Configuration" type="tt:VideoSourceConfiguration"/>
        <xs:element name="ForcePersistence" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>
              The ForcePersistence element determines how configuration
              changes shall be stored. If true, changes shall be persistent. If false, changes MAY revert to previous values
              after reboot.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoSourceConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="SetVideoOutputConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Configuration" type="tt:VideoOutputConfiguration"/>
        <xs:element name="ForcePersistence" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>
              The ForcePersistence element determines how configuration
              changes shall be stored. If true, changes shall be persistent. If false, changes MAY revert to previous values
              after reboot.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVideoOutputConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="GetVideoSourceConfigurationOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoSourceToken" type="tt:ReferenceToken">
          <xs:annotation>
            <xs:documentation>Token of the Video input whose options are requested..</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoSourceConfigurationOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoSourceConfigurationOptions" type="tt:VideoSourceConfigurationOptions"/>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="GetVideoOutputConfigurationOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoOutputToken" type="tt:ReferenceToken">
          <xs:annotation>
            <xs:documentation>Token of the Video Output whose options are requested..</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoOutputConfigurationOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VideoOutputConfigurationOptions" type="tt:VideoOutputConfigurationOptions"/>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="GetAudioSourceConfigurationOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AudioSourceToken" type="tt:ReferenceToken">
          <xs:annotation>
            <xs:documentation>Token of the physical Audio input whose options are requested..</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAudioSourceConfigurationOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AudioSourceOptions" type="tt:AudioSourceConfigurationOptions">
          <xs:annotation>
            <xs:documentation>Returns the AudioSourceToken available.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
  <xs:element name="GetAudioOutputConfigurationOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AudioOutputToken" type="tt:ReferenceToken">
          <xs:annotation>
            <xs:documentation>Token of the physical Audio Output whose options are requested..</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAudioOutputConfigurationOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AudioOutputOptions" type="tt:AudioOutputConfigurationOptions">
          <xs:annotation>
            <xs:documentation>Available settings and ranges for the requested Audio output.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRelayOutputSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RelayOutput" type="tt:RelayOutput"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRelayOutputSettingsResponse">
    <xs:complexType>
      <xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--===============================-->
</xs:schema>

