wsdl/ConfigurationService.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://www.onvif.org/ver10/accessrules/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.onvif.org/simulator/configuration" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://www.onvif.org/ver10/credential/wsdl" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://www.onvif.org/ver10/pacs" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.onvif.org/simulator/configuration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.onvif.org/simulator/configuration">
      <s:import namespace="http://www.onvif.org/ver10/credential/wsdl"/>
      <s:import namespace="http://www.onvif.org/ver10/accessrules/wsdl"/>
      <s:element name="GetCurrentConfiguration">
        <s:complexType/>
      </s:element>
      <s:element name="GetCurrentConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentConfigurationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadConfiguration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="configuration">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadConfigurationResponse">
        <s:complexType/>
      </s:element>
      <s:element name="GetCredentialInfo">
        <s:complexType/>
      </s:element>
      <s:element name="GetCredentialInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="CredentialInfo" type="s1:CredentialInfo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessProfileInfo">
        <s:complexType/>
      </s:element>
      <s:element name="GetAccessProfileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="AccessProfileInfo" type="s3:AccessProfileInfo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.onvif.org/ver10/credential/wsdl">
      <s:import namespace="http://www.onvif.org/ver10/pacs"/>
      <s:complexType name="CredentialInfo">
        <s:complexContent mixed="false">
          <s:extension base="s2:DataEntity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="CredentialHolderReference" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="ValidFrom" type="s:dateTime"/>
              <s:element minOccurs="0" maxOccurs="1" name="ValidTo" type="s:dateTime"/>
            </s:sequence>
            <s:anyAttribute/>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Credential">
        <s:complexContent mixed="false">
          <s:extension base="s1:CredentialInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="CredentialIdentifier" type="s1:CredentialIdentifier"/>
              <s:element minOccurs="0" maxOccurs="unbounded" name="CredentialAccessProfile" type="s1:CredentialAccessProfile"/>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Attribute" type="s2:Attribute"/>
              <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s1:CredentialExtension"/>
            </s:sequence>
            <s:anyAttribute/>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CredentialIdentifier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s1:CredentialIdentifierType"/>
          <s:element minOccurs="1" maxOccurs="1" name="ExemptedFromAuthentication" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CredentialIdentifierValue" type="s1:CredentialIdentifierValue"/>
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s1:CredentialIdentifierExtension"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:complexType name="CredentialIdentifierType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CredentialIdentifierValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:base64Binary"/>
          <s:any minOccurs="0" maxOccurs="unbounded"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:complexType name="CredentialIdentifierExtension">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CredentialAccessProfile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccessProfileToken" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ValidFrom" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="ValidTo" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CredentialExtension">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.onvif.org/ver10/pacs">
      <s:complexType name="DataEntity">
        <s:attribute name="token" type="s:string"/>
      </s:complexType>
      <s:complexType name="Attribute">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded"/>
        </s:sequence>
        <s:attribute name="Name" type="s:string"/>
        <s:attribute name="Value" type="s:string"/>
        <s:anyAttribute/>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.onvif.org/ver10/accessrules/wsdl">
      <s:import namespace="http://www.onvif.org/ver10/pacs"/>
      <s:complexType name="AccessProfileInfo">
        <s:complexContent mixed="false">
          <s:extension base="s2:DataEntity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AccessProfile">
        <s:complexContent mixed="false">
          <s:extension base="s3:AccessProfileInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="AccessPolicy" type="s3:AccessPolicy"/>
              <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s3:AccessProfileExtension"/>
            </s:sequence>
            <s:anyAttribute/>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AccessPolicy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ScheduleToken" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Entity" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="EntityType" type="s:QName"/>
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s3:AccessPolicyExtension"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:complexType name="AccessPolicyExtension">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccessProfileExtension">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentConfiguration"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentConfigurationResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:LoadConfiguration"/>
  </wsdl:message>
  <wsdl:message name="LoadConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:LoadConfigurationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCredentialInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredentialInfo"/>
  </wsdl:message>
  <wsdl:message name="GetCredentialInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCredentialInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAccessProfileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessProfileInfo"/>
  </wsdl:message>
  <wsdl:message name="GetAccessProfileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessProfileInfoResponse"/>
  </wsdl:message>
  <wsdl:portType name="ConfigurationServiceSoap">
    <wsdl:operation name="GetCurrentConfiguration">
      <wsdl:input message="tns:GetCurrentConfigurationSoapIn"/>
      <wsdl:output message="tns:GetCurrentConfigurationSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="LoadConfiguration">
      <wsdl:input message="tns:LoadConfigurationSoapIn"/>
      <wsdl:output message="tns:LoadConfigurationSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCredentialInfo">
      <wsdl:input message="tns:GetCredentialInfoSoapIn"/>
      <wsdl:output message="tns:GetCredentialInfoSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAccessProfileInfo">
      <wsdl:input message="tns:GetAccessProfileInfoSoapIn"/>
      <wsdl:output message="tns:GetAccessProfileInfoSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigurationServiceSoap" type="tns:ConfigurationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCurrentConfiguration">
      <soap:operation soapAction="http://www.onvif.org/simulator/configuration/GetCurrentConfiguration" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadConfiguration">
      <soap:operation soapAction="http://www.onvif.org/simulator/configuration/LoadConfiguration" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentialInfo">
      <soap:operation soapAction="http://www.onvif.org/simulator/configuration/GetCredentialInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessProfileInfo">
      <soap:operation soapAction="http://www.onvif.org/simulator/configuration/GetAccessProfileInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigurationServiceSoap12" type="tns:ConfigurationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCurrentConfiguration">
      <soap12:operation soapAction="http://www.onvif.org/simulator/configuration/GetCurrentConfiguration" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadConfiguration">
      <soap12:operation soapAction="http://www.onvif.org/simulator/configuration/LoadConfiguration" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentialInfo">
      <soap12:operation soapAction="http://www.onvif.org/simulator/configuration/GetCredentialInfo" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessProfileInfo">
      <soap12:operation soapAction="http://www.onvif.org/simulator/configuration/GetAccessProfileInfo" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>