wsdl/Credential.xsd

		<xs:schema targetNamespace="http://www.onvif.org/ver10/credential/wsdl"
				   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pt="http://www.onvif.org/ver10/pacs"
				   xmlns:tcr="http://www.onvif.org/ver10/credential/wsdl" elementFormDefault="qualified" version="1.0">
			<xs:import namespace="http://www.onvif.org/ver10/pacs" schemaLocation="../../pacs/types.xsd"/>
			<!--ServiceCapabilities definitions-->
			<xs:complexType name="ServiceCapabilities">
				<xs:annotation>
					<xs:documentation>
						The service capabilities reflect optional functionality of a service. The information is static
						and does not change during device operation. The following capabilities are available:
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="SupportedIdentifierType" type="pt:Name" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								A list of identifier types that the device supports. Supported identifiers starting with
								the prefix pt: are reserved to define PACS specific identifier types and these reserved
								identifier types shall all share the "pt:&lt;Name&gt;" syntax.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Extension" type="tcr:ServiceCapabilitiesExtension" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="MaxLimit" type="pt:PositiveInteger" use="required">
					<xs:annotation>
						<xs:documentation>
							The maximum number of entries returned by a single Get&lt;Entity&gt;List or Get&lt;Entity&gt;
							request.
							The device shall never return more than this number of entities in a single response.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CredentialValiditySupported" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>
							Indicates that the device supports credential validity.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CredentialAccessProfileValiditySupported" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>
							Indicates that the device supports validity on the association between a credential and an
							access profile.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ValiditySupportsTimeValue" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>
							Indicates that the device supports both date and time value for validity. If set to false,
							then the time value is ignored.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxCredentials" type="pt:PositiveInteger" use="required">
					<xs:annotation>
						<xs:documentation>
							The maximum number of credential supported by the device.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxAccessProfilesPerCredential" type="pt:PositiveInteger" use="required">
					<xs:annotation>
						<xs:documentation>
							The maximum number of access profiles for a credential.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ResetAntipassbackSupported" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>
							Indicates the device supports resetting of anti-passback violations and notifying on
							anti-passback violations.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:complexType name="ServiceCapabilitiesExtension">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<!-- End of definition -->
			<!--CredentialInfo definitions-->
			<xs:complexType name="CredentialInfo">
				<xs:annotation>
					<xs:documentation>
						The CredentialInfo type represents the credential as a logical object. The structure contains
						the basic information of a specific credential instance. The device shall provide the following
						fields for each credential.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="pt:DataEntity">
						<xs:sequence>
							<xs:element name="Description" type="pt:Description" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										User readable description for the credential. It shall be up to 1024 characters.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CredentialHolderReference">
								<xs:annotation>
									<xs:documentation>An external reference to a person holding this credential. The
										reference is a username or used ID in an external system, such as a directory
										service.
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType base="xs:string">
									<xs:annotation>
										<xs:documentation></xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string">
										<xs:maxLength value="64"/>
										<xs:minLength value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValidFrom" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The start date/time validity of the credential. If the
										ValiditySupportsTimeValue capability is set to false, then only date is
										supported (time is ignored).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ValidTo" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The expiration date/time validity of the credential. If the
										ValiditySupportsTimeValue capability is set to false, then only date is
										supported (time is ignored).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:anyAttribute processContents="lax"/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<!-- End of definition -->
			<!--Credential definitions-->
			<xs:complexType name="Credential">
				<xs:annotation>
					<xs:documentation>
						A Credential is a physical/tangible object, a piece of knowledge, or a facet of a person's
						physical being, that enables an individual access to a given physical facility or computer-based
						information system. A credential holds one or more credential identifiers. To gain access one or
						more identifiers may be required.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tcr:CredentialInfo">
						<xs:sequence>
							<xs:element name="CredentialIdentifier" type="tcr:CredentialIdentifier" minOccurs="1"
										maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A list of credential identifier structures. At least one
										credential identifier is required. Maximum one credential identifier structure
										per type is allowed.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CredentialAccessProfile" type="tcr:CredentialAccessProfile" minOccurs="0"
										maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A list of credential access profile structures.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Attribute" type="pt:Attribute" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A list of credential attributes as name value pairs. Key names
										starting with the prefix pt: are reserved to define PACS specific attributes
										following the "pt:&lt;Name&gt;" syntax.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Extension" type="tcr:CredentialExtension" minOccurs="0"/>
						</xs:sequence>
						<xs:anyAttribute processContents="lax"/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="CredentialExtension">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<!-- End of data types definition -->
			<!--CredentialIdentifier definitions-->
			<xs:complexType name="CredentialIdentifier">
				<xs:annotation>
					<xs:documentation>A credential identifier is a card number, unique card information, PIN or
						biometric information such as fingerprint, iris, vein, face recognition, that can be validated
						in an access point.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Type" type="tcr:CredentialIdentifierType">
						<xs:annotation>
							<xs:documentation>Contains the details of the credential identifier type. Is of type
								CredentialIdentifierType.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExemptedFromAuthentication" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>If set to true, this credential identifier is not considered for
								authentication.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Value" type="xs:hexBinary">
						<xs:annotation>
							<xs:documentation>The value of the identifier in hexadecimal representation.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:complexType name="CredentialIdentifierType">
				<xs:annotation>
					<xs:documentation>Specifies the name of credential identifier type and its format for the credential
						value.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Name" type="pt:Name">
						<xs:annotation>
							<xs:documentation>The name of the credential identifier type, such as pt:Card, pt:PIN,
								etc.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormatType" type="xs:string">
						<xs:annotation>
							<xs:documentation>Specifies the format of the credential value for the specified identifier
								type name.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
				</xs:sequence>
			</xs:complexType>

			<!-- End of definition -->
			<!--CredentialAccessProfile definitions-->
			<xs:complexType name="CredentialAccessProfile">
				<xs:annotation>
					<xs:documentation>
						The association between a credential and an access profile.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="AccessProfileToken" type="pt:ReferenceToken">
						<xs:annotation>
							<xs:documentation>The reference token of the associated access profile.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValidFrom" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The start date/time of the validity for the association between the
								credential and the access profile. If the ValiditySupportsTimeValue capability is set to
								false, then only date is supported (time is ignored).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValidTo" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The end date/time of the validity for the association between the
								credential and the access profile. If the ValiditySupportsTimeValue capability is set to
								false, then only date is supported (time is ignored).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<!-- End of definition -->
			<!--CredentialState definitions-->
			<xs:complexType name="CredentialState">
				<xs:annotation>
					<xs:documentation>
						The CredentialState structure contains information about the state of the credential and
						optionally the reason of why the credential was disabled.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Enabled" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the credential is enabled or false if the credential is
								disabled.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Reason" type="pt:Name" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Predefined ONVIF reasons as mentioned in the section 4.2.1.8
								DisabledReasons of credential service specification document. For any other reason, free
								text can be used.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AntipassbackState" type="tcr:AntipassbackState" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A structure indicating the anti-passback state. This field shall be
								supported if the ResetAntipassbackSupported capability is set to true.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Extension" type="tcr:CredentialExtension" minOccurs="0"/>
				</xs:sequence>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:complexType name="CredentialStateExtension">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<!-- End of definition -->
			<!--AntipassbackState definitions-->
			<xs:complexType name="AntipassbackState">
				<xs:annotation>
					<xs:documentation>
						A structure containing anti-passback related state information.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="AntipassbackViolated" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Indicates if anti-passback is violated for the credential.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<!-- End of definition -->
			<!-- CredentialIdentifierFormatTypeInfo definitions-->
			<xs:complexType name="CredentialIdentifierFormatTypeInfo">
				<xs:annotation>
					<xs:documentation>Contains information about a format type.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="FormatType" type="xs:string">
						<xs:annotation>
							<xs:documentation>A format type supported by the device. A list of supported format types is
								provided in [ISO 16484-5:2014-09 Annex P]. The BACnet type "CUSTOM" is not used in this
								specification. Instead device manufacturers can define their own format types.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="pt:Description">
						<xs:annotation>
							<xs:documentation>User readable description of the credential identifier format type. It
								shall be up to 1024 characters. For custom types, it is recommended to describe how the
								octet string is encoded (following the structure in column Authentication Factor Value
								Encoding of [ISO 16484-5:2014-09 Annex P]).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Extension" type="tcr:CredentialIdentifierFormatTypeInfoExtension" minOccurs="0"/>
				</xs:sequence>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:complexType name="CredentialIdentifierFormatTypeInfoExtension">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<!-- End of definition -->
			<!-- #################-->
			<!-- Message request / response elements-->
			<xs:element name="GetServiceCapabilities">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetServiceCapabilitiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Capabilities" type="tcr:ServiceCapabilities">
							<xs:annotation>
								<xs:documentation>The capability response message contains the requested credential
									service capabilities using a hierarchical XML capability structure.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetSupportedFormatTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialIdentifierTypeName" type="xs:string">
							<xs:annotation>
								<xs:documentation>Name of the credential identifier type</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetSupportedFormatTypesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FormatTypeInfo" type="tcr:CredentialIdentifierFormatTypeInfo" minOccurs="1"
									maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Identifier format type</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Tokens of CredentialInfo items to get.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialInfo" type="tcr:CredentialInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of CredentialInfo items.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialInfoList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Limit" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of entries to return. If not specified, less than one
									or higher than what the device supports, the number of items is determined by the
									device.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StartReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Start returning entries from this start reference. If not specified,
									entries shall start from the beginning of the dataset.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialInfoListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NextStartReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>StartReference to use in next call to get the following items. If
									absent, no more items to get.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CredentialInfo" type="tcr:CredentialInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of CredentialInfo items.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentials">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Token of Credentials to get</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Credential" type="tcr:Credential" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of Credential items.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Limit" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of entries to return. If not specified, less than one
									or higher than what the device supports, the number of items is determined by the
									device.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StartReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Start returning entries from this start reference. If not specified,
									entries shall start from the beginning of the dataset.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NextStartReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>StartReference to use in next call to get the following items. If
									absent, no more items to get.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Credential" type="tcr:Credential" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of Credential items.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="CreateCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Credential" type="tcr:Credential">
							<xs:annotation>
								<xs:documentation>The credential to create.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="State" type="tcr:CredentialState">
							<xs:annotation>
								<xs:documentation>The state of the credential.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="CreateCredentialResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>The token of the created credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="ModifyCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Credential" type="tcr:Credential">
							<xs:annotation>
								<xs:documentation>Details of the credential.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="ModifyCredentialResponse">
				<xs:complexType>
					<xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>The token of the credential to delete.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredentialResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialState">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialStateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="State" type="tcr:CredentialState">
							<xs:annotation>
								<xs:documentation>State of the credential.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="EnableCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>The token of the credential</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Reason" type="pt:Name" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reason for enabling the credential.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="EnableCredentialResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DisableCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of the Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Reason" type="pt:Name" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reason for disabling the credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DisableCredentialResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="ResetAntipassbackViolation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of the Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="ResetAntipassbackViolationResponse">
				<xs:complexType>
					<xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of the Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialIdentifiersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialIdentifier" type="tcr:CredentialIdentifier" minOccurs="0"
									maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Identifier of the credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetCredentialIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of the Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CredentialIdentifier" type="tcr:CredentialIdentifier">
							<xs:annotation>
								<xs:documentation>Identifier of the credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetCredentialIdentifierResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredentialIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of the Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CredentialIdentifierTypeName" type="pt:Name">
							<xs:annotation>
								<xs:documentation>Identifier type name of a credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredentialIdentifierResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialAccessProfiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of the Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialAccessProfilesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialAccessProfile" type="tcr:CredentialAccessProfile" minOccurs="0"
									maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Access Profiles of the credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetCredentialAccessProfiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of the Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CredentialAccessProfile" type="tcr:CredentialAccessProfile" minOccurs="1"
									maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Access Profile of the credential</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetCredentialAccessProfilesResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredentialAccessProfiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of the Credential</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccessProfileToken" type="pt:ReferenceToken" minOccurs="1"
									maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Token of Access Profile</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredentialAccessProfilesResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!-- #################-->
		</xs:schema>
