wsdl/credential14.05.2015.wsdl

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href=",../ver20/util/onvif-wsdl-viewer.xsl"?>
<!--
Copyright (c) 2010-2011 by ONVIF: Open Network Video Interface Forum. All rights reserved.
PRELIMINARY and CONFIDENTIAL - under NDA (Non-Disclosure Agreement) or subject to ONVIF PACS license.

THIS DOCUMENT IS PROVIDED "AS IS," AND THE CORPORATION AND ITS MEMBERS AND
THEIR AFFILIATES, MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE;
THAT THE CONTENTS OF THIS DOCUMENT ARE SUITABLE FOR ANY PURPOSE;
OR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY PATENTS,
COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
IN NO EVENT WILL THE CORPORATION OR ITS MEMBERS OR THEIR AFFILIATES BE LIABLE
FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL
DAMAGES, ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THIS
DOCUMENT, WHETHER OR NOT (1) THE CORPORATION, MEMBERS OR THEIR AFFILIATES
HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (2) SUCH DAMAGES
WERE REASONABLY FORESEEABLE, AND ARISING OUT OF OR RELATING TO ANY USE OR
DISTRIBUTION OF THIS DOCUMENT.
THE FOREGOING DISCLAIMER AND LIMITATION ON LIABILITY DO NOT APPLY TO,
INVALIDATE, OR LIMIT REPRESENTATIONS AND WARRANTIES MADE BY THE MEMBERS
AND THEIR RESPECTIVE AFFILIATES TO THE CORPORATION AND OTHER MEMBERS IN
CERTAIN WRITTEN POLICIES OF THE CORPORATION.
-->
<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:tcr="http://www.onvif.org/ver10/credential/wsdl" name="CredentialService" targetNamespace="http://www.onvif.org/ver10/credential/wsdl">
	<!-- The data types definition for the 'Credential Service' -->
	<wsdl:types>
		<xs:schema targetNamespace="http://www.onvif.org/ver10/credential/wsdl" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pt="http://www.onvif.org/ver10/pacs" 
		xmlns:tcr="http://www.onvif.org/ver10/credential/wsdl" elementFormDefault="qualified" version="1.0">
			<xs:import namespace="http://www.onvif.org/ver10/pacs" schemaLocation="types.xsd"/>			
			<!--ServiceCapabilities definitions-->
			<xs:complexType name="ServiceCapabilities">
				<xs:annotation>
					<xs:documentation>
						The service capabilities reflect optional functionality of a service.
						The information is static and does not change during device operation.
						The following capabilities are available:
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
				  <xs:element name="SupportedIdentifierType" type="pt:Name" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
					  <xs:documentation>
						A list of identifier types that the device supports.
						The maximum number of entries returned by a single GetEntityList or GetEntity request.
						The device shall never return more than this number of entities in a single response.
					  </xs:documentation>
					</xs:annotation>
				  </xs:element>	
				  <xs:element name="Extension" type="tcr:ServiceCapabilitiesExtension" minOccurs="0"/>						  
				</xs:sequence>
				<xs:attribute name="MaxLimit" use="required">
					<xs:annotation>
						<xs:documentation>
							The maximum number of entries returned by a single GetList request. 
							The device shall never return more than this number of entities in a single response.
						</xs:documentation>
				  </xs:annotation>
				  <xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:attribute>
				<xs:attribute name="CredentialValiditySupported" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>
							The activation and expiration of the credential.
						</xs:documentation>
				  </xs:annotation>
				</xs:attribute>
				<xs:attribute name="CredentialAccessProfileValiditySupported" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>
							The activation and expiration of access profile.
						</xs:documentation>
				  </xs:annotation>
				</xs:attribute>
				<xs:attribute name="ValiditySupportsTimeValue" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>
							If true, the validity (ValidFrom and ValidTo) contains both date and time component.
							If false, the validity contains date component and the time is ignored if specified.
						</xs:documentation>
				  </xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxCredentials" use="required">
					<xs:annotation>
						<xs:documentation>
							The maximum number of credentials supported by the device.							
						</xs:documentation>
				  </xs:annotation>
				  <xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:attribute>
				<xs:attribute name="MaxAccessProfilesPerCredential" use="required">
					<xs:annotation>
						<xs:documentation>
							The maximum number of access profiles for a credential.
						</xs:documentation>
				  </xs:annotation>
				  <xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:attribute>
				<xs:attribute name="ResetAntipassbackSupported" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>
							True if the device supports resetting an antipassback violation
						</xs:documentation>
				  </xs:annotation>
				</xs:attribute>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:complexType name="ServiceCapabilitiesExtension"> 
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<!-- End of definition -->
			<!--CredentialInfo definitions-->
			<xs:complexType name="CredentialInfo">
				<xs:annotation>
					<xs:documentation>
						The CredentialInfo type represents the credential as a logical object. 
						The structure contains basic information of a specific credential instance.
						Design points: To support lazy loading in get request, CredentialInfo is a subset of the Credential type.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="pt:DataEntity">
						<xs:sequence>
							<xs:element name="Description" type="pt:Description" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Optional user readable description for the AccessProfile. It shall be up to 1024 characters.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CredentialHolderReference">
								<xs:annotation>
									<xs:documentation>Includes any external reference. eg., username, user ID</xs:documentation>
								</xs:annotation>
								  <xs:simpleType base="xs:string">
									  <xs:annotation>
										<xs:documentation></xs:documentation>
									  </xs:annotation>
										<xs:restriction base="xs:string">
										  <xs:maxLength value="64"/>
										  <xs:minLength value="0"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValidFrom" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ValidTo" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation></xs:documentation>
								</xs:annotation>
							</xs:element>							
						</xs:sequence>
						<xs:anyAttribute processContents="lax"/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<!-- End of definition -->
			<!--Credential definitions-->
			<xs:complexType name="Credential">
				<xs:annotation>
					<xs:documentation>
						A credential is a physical/tangible object, a piece of knowledge, or a facet of a person's physical being,
						that enables an individual access to a given physical facility or computer-based information system. 
						A credential holds one or more credential identifiers. To gain access one or more identifiers may be required. 
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tcr:CredentialInfo">
						<xs:sequence>
							<xs:element name="CredentialIdentifier" type="tcr:CredentialIdentifier" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CredentialAccessProfile" type="tcr:CredentialAccessProfile" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Attribute" type="pt:Attribute" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation> 
									<xs:documentation>List of attributes</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Extension" type="tcr:CredentialExtension" minOccurs="0"/>
						</xs:sequence>
						<xs:anyAttribute processContents="lax"/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="CredentialExtension"> 
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<!-- End of data types definition -->
			<!--CredentialIdentifier definitions-->
			<xs:complexType name="CredentialIdentifier">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
				</xs:annotation>				
				<xs:sequence>
					<xs:element name="Type" type="tcr:CredentialIdentifierType">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExemptedFromAuthentication" type="xs:boolean">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Value" type="xs:hexBinary">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>	
				<xs:anyAttribute processContents="lax"/>				
			</xs:complexType>
			<xs:complexType name="CredentialIdentifierType"> 
				<xs:sequence>					
					<xs:element name="Name" type="pt:Name">
						<xs:annotation>
							<xs:documentation>pt:Card, pt:PIN, pt:Fingerprint, pt:Face, pt:Iris, pt:Vein</xs:documentation>
						</xs:annotation>
					</xs:element>					
					<xs:element name="FormatType" type="xs:string">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
				</xs:sequence>
			</xs:complexType>
		
			<!-- End of definition -->
			<!--CredentialAccessProfile definitions-->
			<xs:complexType name="CredentialAccessProfile">
				<xs:annotation>
					<xs:documentation>
						Association between a credential and an access profile
					</xs:documentation>
				</xs:annotation>				
				<xs:sequence>
					<xs:element name="AccessProfileToken" type="pt:ReferenceToken">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValidFrom" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValidTo" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>			
			</xs:complexType>
			<!-- End of definition -->
			<!--CredentialState definitions-->
			<xs:complexType name="CredentialState">
				<xs:annotation>
					<xs:documentation>
						State of a credential
					</xs:documentation>
				</xs:annotation>							
				<xs:sequence>
					<xs:element name="Enabled" type="xs:boolean">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Reason" type="pt:Name" minOccurs="0">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AntipassbackState" type="tcr:AntipassbackState">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>		
				<xs:anyAttribute processContents="lax"/>						
			</xs:complexType>
			<!-- End of definition -->
			<!--AntipassbackState definitions-->
			<xs:complexType name="AntipassbackState">
				<xs:annotation>
					<xs:documentation>
						In case antipassback is violated
					</xs:documentation>
				</xs:annotation>							
				<xs:sequence>
					<xs:element name="AntipassbackViolated" type="xs:boolean">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>	
				<xs:anyAttribute processContents="lax"/>					
			</xs:complexType>
			<!-- End of definition -->			
			<!-- CredentialIdentifierFormatTypeInfo definitions-->
			<xs:complexType name="CredentialIdentifierFormatTypeInfo">
				<xs:annotation>
					<xs:documentation>						
					</xs:documentation>
				</xs:annotation>							
				<xs:sequence>
					<xs:element name="FormatType" type="xs:string">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Extension" type="tcr:CredentialIdentifierFormatTypeInfoExtension" minOccurs="0"/>
				</xs:sequence>	
				<xs:anyAttribute processContents="lax"/>					
			</xs:complexType>			
			<xs:complexType name="CredentialIdentifierFormatTypeInfoExtension"> 
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<!-- End of definition -->
			<!-- #################-->
			<!-- Message request / response elements-->
			<xs:element name="GetServiceCapabilities">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetServiceCapabilitiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Capabilities" type="tcr:ServiceCapabilities">
							<xs:annotation>
								<xs:documentation>The capabilities for the credential service is returned in the Capabilities element.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetSupportedFormatTypes">
				<xs:complexType>
					<xs:sequence>					
						<xs:element name="CredentialIdentifierTypeName" type="xs:string">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetSupportedFormatTypesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FormatTypeInfo" type="tcr:CredentialIdentifierFormatTypeInfo" minOccurs="0" maxOccurs="unbounded"/>						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Tokens of CredentialInfo items to get.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialInfo" type="tcr:CredentialInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialInfoList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Limit" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of entries to return. If not specified, less than one or higher than what the device supports, the number of items is determined by the device.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StartReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Start returning entries from this start reference. If not specified, entries shall start from the beginning of the dataset.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialInfoListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NextStartReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>StartReference to use in next call to get the following items. If absent, no more items to get.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CredentialInfo" type="tcr:CredentialInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of CredentialInfo items.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentials">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Tokens of Credential items to get.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Credential" type="tcr:Credential" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Limit" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of entries to return. If not specified, less than one or higher than what the device supports, the number of items is determined by the device.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StartReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Start returning entries from this start reference. If not specified, entries shall start from the beginning of the dataset.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NextStartReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>StartReference to use in next call to get the following items. If absent, no more items to get.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Credential" type="tcr:Credential" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of Credential items.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>	
			<!--===============================-->
			<xs:element name="CreateCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Credential" type="tcr:Credential">
						</xs:element>
						<xs:element name="State" type="tcr:CredentialState">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>	
			<!--===============================-->
			<xs:element name="CreateCredentialResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="ModifyCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Credential" type="tcr:Credential">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>	
			<!--===============================-->
			<xs:element name="ModifyCredentialResponse">
				<xs:complexType>
					<xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredentialResponse">
				<xs:complexType>	
				<xs:sequence/>
				</xs:complexType>
			</xs:element>			
			<!--===============================-->
			<xs:element name="GetCredentialState">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialStateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="State" type="tcr:CredentialState">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>		
			<!--===============================-->
			<xs:element name="EnableCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Reason" type="pt:Name" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="EnableCredentialResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>			
			<!--===============================-->
			<xs:element name="DisableCredential">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Token" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Reason" type="pt:Name" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DisableCredentialResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>			
			<!--===============================-->
			<xs:element name="ResetAntipassbackViolation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="ResetAntipassbackViolationResponse">
				<xs:complexType>					
					<xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
			<!--===============================-->
			<xs:element name="GetCredentialIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialIdentifiersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialIdentifier" type="tcr:CredentialIdentifier" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>					
			<!--===============================-->
			<xs:element name="SetCredentialIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CredentialIdentifier" type="tcr:CredentialIdentifier">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetCredentialIdentifierResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>						
			<!--===============================-->
			<xs:element name="DeleteCredentialIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CredentialIdentifierTypeName" type="pt:Name">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredentialIdentifierResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>	
			<!--===============================-->
			<xs:element name="GetCredentialAccessProfiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCredentialAccessProfilesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialAccessProfile" type="tcr:CredentialAccessProfile" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>	
			<!--===============================-->
			<xs:element name="SetCredentialAccessProfiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CredentialAccessProfile" type="tcr:CredentialAccessProfile" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetCredentialAccessProfilesResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>	
			<!--===============================-->
			<xs:element name="DeleteCredentialAccessProfiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CredentialToken" type="pt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>Token of an Credential item</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccessProfileToken" type="pt:ReferenceToken" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteCredentialAccessProfilesResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!-- #################-->
		</xs:schema>
	</wsdl:types>
	<!--Definition of 'GetServiceCapabilities' message-->
	<wsdl:message name="GetServiceCapabilitiesRequest">
		<wsdl:part name="parameters" element="tcr:GetServiceCapabilities"/>
	</wsdl:message>
	<wsdl:message name="GetServiceCapabilitiesResponse">
		<wsdl:part name="parameters" element="tcr:GetServiceCapabilitiesResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'GetSupportedFormatTypes' message-->
	<wsdl:message name="GetSupportedFormatTypesRequest">
		<wsdl:part name="parameters" element="tcr:GetSupportedFormatTypes"/>
	</wsdl:message>
	<wsdl:message name="GetSupportedFormatTypesResponse">
		<wsdl:part name="parameters" element="tcr:GetSupportedFormatTypesResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'GetCredentialInfo' message-->
	<wsdl:message name="GetCredentialInfoRequest">
		<wsdl:part name="parameters" element="tcr:GetCredentialInfo"/>
	</wsdl:message>
	<wsdl:message name="GetCredentialInfoResponse">
		<wsdl:part name="parameters" element="tcr:GetCredentialInfoResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'GetCredentialInfoList' message-->
	<wsdl:message name="GetCredentialInfoListRequest">
		<wsdl:part name="parameters" element="tcr:GetCredentialInfoList"/>
	</wsdl:message>
	<wsdl:message name="GetCredentialInfoListResponse">
		<wsdl:part name="parameters" element="tcr:GetCredentialInfoListResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'GetCredentials' message-->
	<wsdl:message name="GetCredentialsRequest">
		<wsdl:part name="parameters" element="tcr:GetCredentials"/>
	</wsdl:message>
	<wsdl:message name="GetCredentialsResponse">
		<wsdl:part name="parameters" element="tcr:GetCredentialsResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'GetCredentialList' message-->
	<wsdl:message name="GetCredentialListRequest">
		<wsdl:part name="parameters" element="tcr:GetCredentialList"/>
	</wsdl:message>
	<wsdl:message name="GetCredentialListResponse">
		<wsdl:part name="parameters" element="tcr:GetCredentialListResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'CreateCredential' message-->
	<wsdl:message name="CreateCredentialRequest">
		<wsdl:part name="parameters" element="tcr:CreateCredential"/>
	</wsdl:message>
	<wsdl:message name="CreateCredentialResponse">
		<wsdl:part name="parameters" element="tcr:CreateCredentialResponse"/>
	</wsdl:message>	
	<!--===============================-->
	<!--Definition of 'ModifyCredential' message-->
	<wsdl:message name="ModifyCredentialRequest">
		<wsdl:part name="parameters" element="tcr:ModifyCredential"/>
	</wsdl:message>
	<wsdl:message name="ModifyCredentialResponse">
		<wsdl:part name="parameters" element="tcr:ModifyCredentialResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'DeleteCredential' message-->
	<wsdl:message name="DeleteCredentialRequest">
		<wsdl:part name="parameters" element="tcr:DeleteCredential"/>
	</wsdl:message>
	<wsdl:message name="DeleteCredentialResponse">
		<wsdl:part name="parameters" element="tcr:DeleteCredentialResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'GetCredentialState' message-->
	<wsdl:message name="GetCredentialStateRequest">
		<wsdl:part name="parameters" element="tcr:GetCredentialState"/>
	</wsdl:message>
	<wsdl:message name="GetCredentialStateResponse">
		<wsdl:part name="parameters" element="tcr:GetCredentialStateResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'EnableCredential' message-->
	<wsdl:message name="EnableCredentialRequest">
		<wsdl:part name="parameters" element="tcr:EnableCredential"/>
	</wsdl:message>
	<wsdl:message name="EnableCredentialResponse">
		<wsdl:part name="parameters" element="tcr:EnableCredentialResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'DisableCredential' message-->
	<wsdl:message name="DisableCredentialRequest">
		<wsdl:part name="parameters" element="tcr:DisableCredential"/>
	</wsdl:message>
	<wsdl:message name="DisableCredentialResponse">
		<wsdl:part name="parameters" element="tcr:DisableCredentialResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'ResetAntipassbackViolation' message-->
	<wsdl:message name="ResetAntipassbackViolationRequest">
		<wsdl:part name="parameters" element="tcr:ResetAntipassbackViolation"/>
	</wsdl:message>
	<wsdl:message name="ResetAntipassbackViolationResponse">
		<wsdl:part name="parameters" element="tcr:ResetAntipassbackViolationResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'GetCredentialIdentifiers' message-->
	<wsdl:message name="GetCredentialIdentifiersRequest">
		<wsdl:part name="parameters" element="tcr:GetCredentialIdentifiers"/>
	</wsdl:message>
	<wsdl:message name="GetCredentialIdentifiersResponse">
		<wsdl:part name="parameters" element="tcr:GetCredentialIdentifiersResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'SetCredentialIdentifier' message-->
	<wsdl:message name="SetCredentialIdentifierRequest">
		<wsdl:part name="parameters" element="tcr:SetCredentialIdentifier"/>
	</wsdl:message>
	<wsdl:message name="SetCredentialIdentifierResponse">
		<wsdl:part name="parameters" element="tcr:SetCredentialIdentifierResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'DeleteCredentialIdentifier' message-->
	<wsdl:message name="DeleteCredentialIdentifierRequest">
		<wsdl:part name="parameters" element="tcr:DeleteCredentialIdentifier"/>
	</wsdl:message>
	<wsdl:message name="DeleteCredentialIdentifierResponse">
		<wsdl:part name="parameters" element="tcr:DeleteCredentialIdentifierResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'GetCredentialAccessProfiles' message-->
	<wsdl:message name="GetCredentialAccessProfilesRequest">
		<wsdl:part name="parameters" element="tcr:GetCredentialAccessProfiles"/>
	</wsdl:message>
	<wsdl:message name="GetCredentialAccessProfilesResponse">
		<wsdl:part name="parameters" element="tcr:GetCredentialAccessProfilesResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'SetCredentialAccessProfiles' message-->
	<wsdl:message name="SetCredentialAccessProfilesRequest">
		<wsdl:part name="parameters" element="tcr:SetCredentialAccessProfiles"/>
	</wsdl:message>
	<wsdl:message name="SetCredentialAccessProfilesResponse">
		<wsdl:part name="parameters" element="tcr:SetCredentialAccessProfilesResponse"/>
	</wsdl:message>
	<!--===============================-->
	<!--Definition of 'DeleteCredentialAccessProfiles' message-->
	<wsdl:message name="DeleteCredentialAccessProfilesRequest">
		<wsdl:part name="parameters" element="tcr:DeleteCredentialAccessProfiles"/>
	</wsdl:message>
	<wsdl:message name="DeleteCredentialAccessProfilesResponse">
		<wsdl:part name="parameters" element="tcr:DeleteCredentialAccessProfilesResponse"/>
	</wsdl:message>
	<!--===============================-->
	<wsdl:portType name="CredentialPort">
		<wsdl:operation name="GetServiceCapabilities">
			<wsdl:documentation>Returns the capabilities of the credential service. The result is returned in a typed answer.</wsdl:documentation>
			<wsdl:input message="tcr:GetServiceCapabilitiesRequest"/>
			<wsdl:output message="tcr:GetServiceCapabilitiesResponse"/>
		</wsdl:operation> 
		<wsdl:operation name="GetSupportedFormatTypes">
			<wsdl:documentation></wsdl:documentation>
			<wsdl:input message="tcr:GetSupportedFormatTypesRequest"/>
			<wsdl:output message="tcr:GetSupportedFormatTypesResponse"/>
		</wsdl:operation> 
		<wsdl:operation name="GetCredentialInfo">
			<wsdl:documentation>
				This method returns a list of credential info items, specified in the request
				Only found credentials shall be returned. i.e, the returned number of elements can differ from the requested element.
				This operation requests a list of credential items matching the given tokens. 
				An ONVIF-compliant device that provides the credential service shall implement this method. 
				The device shall ignore tokens it cannot resolve and may return an empty list 
				if there are no credentials matching specified tokens.
				If the number of requested items is greater than MaxLimit, a TooManyItems fault shall be returned.
			</wsdl:documentation>
			<wsdl:input message="tcr:GetCredentialInfoRequest"/>
			<wsdl:output message="tcr:GetCredentialInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialInfoList">
			<wsdl:documentation>
				This method returns a list of credential info items, specified in the request
				Used for pagination, refer to Profile C. 
				A call to this method shall return a StartReference when not all data is returned and more data is available.  
				The reference shall be valid for retrieving the next set of data. 
			</wsdl:documentation>
			<wsdl:input message="tcr:GetCredentialInfoListRequest"/>
			<wsdl:output message="tcr:GetCredentialInfoListResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetCredentials">
			<wsdl:documentation>
				This method returns the specified credential item.
			</wsdl:documentation>
			<wsdl:input message="tcr:GetCredentialsRequest"/>
			<wsdl:output message="tcr:GetCredentialsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialList">
			<wsdl:documentation>
				This method returns a list of credential items, specified in the request 
				Used for pagination, refer to Profile C. 
				A call to this method shall return a StartReference when not all data is returned and more data is available.  
				The reference shall be valid for retrieving the next set of data. 
			</wsdl:documentation>
			<wsdl:input message="tcr:GetCredentialListRequest"/>
			<wsdl:output message="tcr:GetCredentialListResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CreateCredential">
			<wsdl:documentation>
			</wsdl:documentation>
			<wsdl:input message="tcr:CreateCredentialRequest"/>
			<wsdl:output message="tcr:CreateCredentialResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ModifyCredential">
			<wsdl:documentation>
			</wsdl:documentation>
			<wsdl:input message="tcr:ModifyCredentialRequest"/>
			<wsdl:output message="tcr:ModifyCredentialResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteCredential">
			<wsdl:documentation>
				This method deletes all specified credentials
				The response shall only have those items which could not be deleted by the device. 
				However, the tokens that were not found by the device will not be considered as failure to delete 
				and are silently ignored and marked deleted.
				SOAP_OK indicates all requested entities have been successfully processed by the ONVIF service; 
				in this case, the returned array of Response types may be empty.	
			</wsdl:documentation>
			<wsdl:input message="tcr:DeleteCredentialRequest"/>
			<wsdl:output message="tcr:DeleteCredentialResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialState">
			<wsdl:documentation>
				To get the state for all specified credentials
				If request has 'n' items the response shall have 'n' items with a Response type corresponding to each element.
				If the requested token doesn't exist, the corresponding response element shall be empty.
			</wsdl:documentation>
			<wsdl:input message="tcr:GetCredentialStateRequest"/>
			<wsdl:output message="tcr:GetCredentialStateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="EnableCredential">
			<wsdl:documentation>
				Enables a credential. By default (during creation of the credential) it is enabled.
				There is no requirement to enable or disable credential in a batch
			</wsdl:documentation>
			<wsdl:input message="tcr:EnableCredentialRequest"/>
			<wsdl:output message="tcr:EnableCredentialResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DisableCredential">
			<wsdl:documentation>
				Disables a credential
			</wsdl:documentation>
			<wsdl:input message="tcr:DisableCredentialRequest"/>
			<wsdl:output message="tcr:DisableCredentialResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResetAntipassbackViolation">
			<wsdl:documentation>
				To reset antipassback violations if any on the specified credentials
				The response shall only have those items which could not be reset by the device. 
				However, the tokens that were not found by the device [or for credentials which do not have APB violations]
				will not be considered as failure to reset 
				and are silently ignored and marked reset.
				SOAP_OK indicates all requested entities have been successfully processed by the ONVIF service; 
				in this case, the returned array of Response types may be empty.	
			</wsdl:documentation>
			<wsdl:input message="tcr:ResetAntipassbackViolationRequest"/>
			<wsdl:output message="tcr:ResetAntipassbackViolationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialIdentifiers">
			<wsdl:documentation>
				Returns all credential Identifiers specified by the credential.
			</wsdl:documentation>
			<wsdl:input message="tcr:GetCredentialIdentifiersRequest"/>
			<wsdl:output message="tcr:GetCredentialIdentifiersResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SetCredentialIdentifier">
			<wsdl:documentation>
				Adds or updates a credential identifier of a specified type.
				If the type (in the specified CredentialIdentifier object) already exists, 
				the current credential identifier of that type is replaced.
				Otherwise the credential identifier is added.
			</wsdl:documentation>
			<wsdl:input message="tcr:SetCredentialIdentifierRequest"/>
			<wsdl:output message="tcr:SetCredentialIdentifierResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteCredentialIdentifier">
			<wsdl:documentation>
				Deletes all identifier values of specified identifier type
			</wsdl:documentation>
			<wsdl:input message="tcr:DeleteCredentialIdentifierRequest"/>
			<wsdl:output message="tcr:DeleteCredentialIdentifierResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialAccessProfiles">
			<wsdl:documentation>
				Get all credential access profiles for the specified credential.
				Returns an empty list if no credential access profiles exists for the specified credential.
			</wsdl:documentation>
			<wsdl:input message="tcr:GetCredentialAccessProfilesRequest"/>
			<wsdl:output message="tcr:GetCredentialAccessProfilesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SetCredentialAccessProfiles">
			<wsdl:documentation>
				Adds or updates credential access profiles for a credential.
				It always replaces the credential access profile if the access profile token in the specified credential access profile matches.
				Otherwise it adds the credential access profile.
			</wsdl:documentation>
			<wsdl:input message="tcr:SetCredentialAccessProfilesRequest"/>
			<wsdl:output message="tcr:SetCredentialAccessProfilesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteCredentialAccessProfiles">
			<wsdl:documentation>
				Deletes credential access profiles specified by access profile tokens. 
				If no matching credential access profiles are found, the corresponding 
				access profile tokens are silently ignored.
			</wsdl:documentation>
			<wsdl:input message="tcr:DeleteCredentialAccessProfilesRequest"/>
			<wsdl:output message="tcr:DeleteCredentialAccessProfilesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<!--Protocol & data format for the operations and messages for the port type 'credentialPort'-->
	<wsdl:binding name="CredentialBinding" type="tcr:CredentialPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetServiceCapabilities">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetServiceCapabilities"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSupportedFormatTypes">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetSupportedFormatTypes"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialInfo">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetCredentialInfo"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialInfoList">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetCredentialInfoList"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCredentials">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetCredentials"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialList">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetCredentialList"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateCredential">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/CreateCredential"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyCredential">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/ModifyCredential"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteCredential">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/DeleteCredential"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialState">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetCredentialState"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EnableCredential">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/EnableCredential"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DisableCredential">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/DisableCredential"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResetAntipassbackViolation">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/ResetAntipassbackViolation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialIdentifiers">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetCredentialIdentifiers"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetCredentialIdentifier">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/SetCredentialIdentifier"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteCredentialIdentifier">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/DeleteCredentialIdentifier"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCredentialAccessProfiles">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/GetCredentialAccessProfiles"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetCredentialAccessProfiles">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/SetCredentialAccessProfiles"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteCredentialAccessProfiles">
			<soap:operation soapAction="http://www.onvif.org/ver10/credential/wsdl/DeleteCredentialAccessProfiles"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
