Version2/Automated Testing/AutomatedTesting.DutManagement/Service References/DutManagementService/Test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInitialPoint">
        <s:complexType />
      </s:element>
      <s:element name="GetInitialPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInitialPointResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTestSuit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PathToTestSuit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTestSuitResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectTestCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTestCaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="ResetTestSuit">
        <s:complexType />
      </s:element>
      <s:element name="ResetTestSuitResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTestList">
        <s:complexType />
      </s:element>
      <s:element name="GetTestListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTestResult">
        <s:complexType />
      </s:element>
      <s:element name="GetTestResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestSummaryResult">
        <s:complexType />
      </s:element>
      <s:element name="GetTestSummaryResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTestSummaryResultResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetONVIFTestExpectedResult">
        <s:complexType />
      </s:element>
      <s:element name="GetONVIFTestExpectedResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetONVIFTestExpectedResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestDescription">
        <s:complexType />
      </s:element>
      <s:element name="GetTestDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestName">
        <s:complexType />
      </s:element>
      <s:element name="GetTestNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestExpectedResult">
        <s:complexType />
      </s:element>
      <s:element name="GetTestExpectedResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestExpectedResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInitialPointSoapIn">
    <wsdl:part name="parameters" element="tns:GetInitialPoint" />
  </wsdl:message>
  <wsdl:message name="GetInitialPointSoapOut">
    <wsdl:part name="parameters" element="tns:GetInitialPointResponse" />
  </wsdl:message>
  <wsdl:message name="LoadTestSuitSoapIn">
    <wsdl:part name="parameters" element="tns:LoadTestSuit" />
  </wsdl:message>
  <wsdl:message name="LoadTestSuitSoapOut">
    <wsdl:part name="parameters" element="tns:LoadTestSuitResponse" />
  </wsdl:message>
  <wsdl:message name="SelectTestCaseSoapIn">
    <wsdl:part name="parameters" element="tns:SelectTestCase" />
  </wsdl:message>
  <wsdl:message name="SelectTestCaseSoapOut">
    <wsdl:part name="parameters" element="tns:SelectTestCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ResetTestSuitSoapIn">
    <wsdl:part name="parameters" element="tns:ResetTestSuit" />
  </wsdl:message>
  <wsdl:message name="ResetTestSuitSoapOut">
    <wsdl:part name="parameters" element="tns:ResetTestSuitResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestList" />
  </wsdl:message>
  <wsdl:message name="GetTestListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestResult" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestSummaryResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestSummaryResult" />
  </wsdl:message>
  <wsdl:message name="GetTestSummaryResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestSummaryResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetONVIFTestExpectedResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetONVIFTestExpectedResult" />
  </wsdl:message>
  <wsdl:message name="GetONVIFTestExpectedResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetONVIFTestExpectedResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestDescription" />
  </wsdl:message>
  <wsdl:message name="GetTestDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestName" />
  </wsdl:message>
  <wsdl:message name="GetTestNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestExpectedResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestExpectedResult" />
  </wsdl:message>
  <wsdl:message name="GetTestExpectedResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestExpectedResultResponse" />
  </wsdl:message>
  <wsdl:portType name="TestSoap">
    <wsdl:operation name="GetInitialPoint">
      <wsdl:input message="tns:GetInitialPointSoapIn" />
      <wsdl:output message="tns:GetInitialPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadTestSuit">
      <wsdl:input message="tns:LoadTestSuitSoapIn" />
      <wsdl:output message="tns:LoadTestSuitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectTestCase">
      <wsdl:input message="tns:SelectTestCaseSoapIn" />
      <wsdl:output message="tns:SelectTestCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetTestSuit">
      <wsdl:input message="tns:ResetTestSuitSoapIn" />
      <wsdl:output message="tns:ResetTestSuitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestList">
      <wsdl:input message="tns:GetTestListSoapIn" />
      <wsdl:output message="tns:GetTestListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestResult">
      <wsdl:input message="tns:GetTestResultSoapIn" />
      <wsdl:output message="tns:GetTestResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestSummaryResult">
      <wsdl:input message="tns:GetTestSummaryResultSoapIn" />
      <wsdl:output message="tns:GetTestSummaryResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetONVIFTestExpectedResult">
      <wsdl:input message="tns:GetONVIFTestExpectedResultSoapIn" />
      <wsdl:output message="tns:GetONVIFTestExpectedResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestDescription">
      <wsdl:input message="tns:GetTestDescriptionSoapIn" />
      <wsdl:output message="tns:GetTestDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestName">
      <wsdl:input message="tns:GetTestNameSoapIn" />
      <wsdl:output message="tns:GetTestNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestExpectedResult">
      <wsdl:input message="tns:GetTestExpectedResultSoapIn" />
      <wsdl:output message="tns:GetTestExpectedResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestSoap" type="tns:TestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInitialPoint">
      <soap:operation soapAction="http://tempuri.org/GetInitialPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTestSuit">
      <soap:operation soapAction="http://tempuri.org/LoadTestSuit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTestCase">
      <soap:operation soapAction="http://tempuri.org/SelectTestCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetTestSuit">
      <soap:operation soapAction="http://tempuri.org/ResetTestSuit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestList">
      <soap:operation soapAction="http://tempuri.org/GetTestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResult">
      <soap:operation soapAction="http://tempuri.org/GetTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestSummaryResult">
      <soap:operation soapAction="http://tempuri.org/GetTestSummaryResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetONVIFTestExpectedResult">
      <soap:operation soapAction="http://tempuri.org/GetONVIFTestExpectedResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestDescription">
      <soap:operation soapAction="http://tempuri.org/GetTestDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestName">
      <soap:operation soapAction="http://tempuri.org/GetTestName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestExpectedResult">
      <soap:operation soapAction="http://tempuri.org/GetTestExpectedResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestSoap12" type="tns:TestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInitialPoint">
      <soap12:operation soapAction="http://tempuri.org/GetInitialPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTestSuit">
      <soap12:operation soapAction="http://tempuri.org/LoadTestSuit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTestCase">
      <soap12:operation soapAction="http://tempuri.org/SelectTestCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetTestSuit">
      <soap12:operation soapAction="http://tempuri.org/ResetTestSuit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestList">
      <soap12:operation soapAction="http://tempuri.org/GetTestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResult">
      <soap12:operation soapAction="http://tempuri.org/GetTestResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestSummaryResult">
      <soap12:operation soapAction="http://tempuri.org/GetTestSummaryResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetONVIFTestExpectedResult">
      <soap12:operation soapAction="http://tempuri.org/GetONVIFTestExpectedResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestDescription">
      <soap12:operation soapAction="http://tempuri.org/GetTestDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestName">
      <soap12:operation soapAction="http://tempuri.org/GetTestName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestExpectedResult">
      <soap12:operation soapAction="http://tempuri.org/GetTestExpectedResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Test">
    <wsdl:port name="TestSoap" binding="tns:TestSoap">
      <soap:address location="http://localhost:3246/onvif/Test.asmx" />
    </wsdl:port>
    <wsdl:port name="TestSoap12" binding="tns:TestSoap12">
      <soap12:address location="http://localhost:3246/onvif/Test.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>