Samples/WebServiceFake/FakeClient/Web References/CameraService/CameraService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.onvif.org/ver10/device/wsdl" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.onvif.org/ver10/device/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.onvif.org/ver10/device/wsdl">
      <s:element name="GetClientCertificateMode">
        <s:complexType />
      </s:element>
      <s:element name="GetClientCertificateModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetClientCertificateModeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetClientCertificateMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetClientCertificateModeResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetZeroConfiguration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="interfaceToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="enabled" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetZeroConfigurationResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetAccessPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="policy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAccessPolicyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClientCertificateModeSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientCertificateMode" />
  </wsdl:message>
  <wsdl:message name="GetClientCertificateModeSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientCertificateModeResponse" />
  </wsdl:message>
  <wsdl:message name="SetClientCertificateModeSoapIn">
    <wsdl:part name="parameters" element="tns:SetClientCertificateMode" />
  </wsdl:message>
  <wsdl:message name="SetClientCertificateModeSoapOut">
    <wsdl:part name="parameters" element="tns:SetClientCertificateModeResponse" />
  </wsdl:message>
  <wsdl:message name="SetZeroConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:SetZeroConfiguration" />
  </wsdl:message>
  <wsdl:message name="SetZeroConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:SetZeroConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="SetAccessPolicySoapIn">
    <wsdl:part name="parameters" element="tns:SetAccessPolicy" />
  </wsdl:message>
  <wsdl:message name="SetAccessPolicySoapOut">
    <wsdl:part name="parameters" element="tns:SetAccessPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="CameraServiceSoap">
    <wsdl:operation name="GetClientCertificateMode">
      <wsdl:input message="tns:GetClientCertificateModeSoapIn" />
      <wsdl:output message="tns:GetClientCertificateModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetClientCertificateMode">
      <wsdl:input message="tns:SetClientCertificateModeSoapIn" />
      <wsdl:output message="tns:SetClientCertificateModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetZeroConfiguration">
      <wsdl:input message="tns:SetZeroConfigurationSoapIn" />
      <wsdl:output message="tns:SetZeroConfigurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAccessPolicy">
      <wsdl:input message="tns:SetAccessPolicySoapIn" />
      <wsdl:output message="tns:SetAccessPolicySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CameraServiceSoap" type="tns:CameraServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientCertificateMode">
      <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetClientCertificateMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClientCertificateMode">
      <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/SetClientCertificateMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetZeroConfiguration">
      <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/SetZeroConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAccessPolicy">
      <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/SetAccessPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CameraServiceSoap12" type="tns:CameraServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientCertificateMode">
      <soap12:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetClientCertificateMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClientCertificateMode">
      <soap12:operation soapAction="http://www.onvif.org/ver10/device/wsdl/SetClientCertificateMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetZeroConfiguration">
      <soap12:operation soapAction="http://www.onvif.org/ver10/device/wsdl/SetZeroConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAccessPolicy">
      <soap12:operation soapAction="http://www.onvif.org/ver10/device/wsdl/SetAccessPolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CameraService">
    <wsdl:port name="CameraServiceSoap" binding="tns:CameraServiceSoap">
      <soap:address location="http://localhost:2691/CameraService.asmx" />
    </wsdl:port>
    <wsdl:port name="CameraServiceSoap12" binding="tns:CameraServiceSoap12">
      <soap12:address location="http://localhost:2691/CameraService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>