Version2/TestTool-NOP.13.12.SR1/TestTool.Tests.TestCases/Utils/SoapValidation/Schemas/Extracted/recording.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://www.onvif.org/ver10/recording/wsdl" 
           xmlns:tt="http://www.onvif.org/ver10/schema" 
           xmlns:trc="http://www.onvif.org/ver10/recording/wsdl" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
			<xs:import namespace="http://www.onvif.org/ver10/schema" schemaLocation="../ver10/schema/onvif.xsd"/>
			<!--  Message Request/Responses elements  -->
			<!--===============================-->
			<xs:element name="GetServiceCapabilities">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetServiceCapabilitiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Capabilities" type="trc:Capabilities">
							<xs:annotation>
								<xs:documentation>The capabilities for the recording service is returned in the Capabilities element.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:complexType name="Capabilities">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="DynamicRecordings" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indication if the device supports dynamic creation and deletion of recordings</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="DynamicTracks" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indication if the device supports dynamic creation and deletion of tracks</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Encoding" type="trc:EncodingTypes">
					<xs:annotation>
						<xs:documentation>Indication which encodings are supported for recording. The list may contain one or more enumeration values of tt:VideoEncoding and tt:AudioEncoding.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxRate" type="xs:float">
					<xs:annotation>
						<xs:documentation>Maximum supported bit rate for all tracks of a recording in kBit/s.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxTotalRate" type="xs:float">
					<xs:annotation>
						<xs:documentation>Maximum supported bit rate for all recordings in kBit/s.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxRecordings" type="xs:float">
					<xs:annotation>
						<xs:documentation>Maximum number of recordings supported. (Integer values only.)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxRecordingJobs" type="xs:int">
					<xs:annotation>
						<xs:documentation>Maximum total number of supported recording jobs by the device.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Options" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indication if the device supports the GetRecordingOptions command.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:simpleType name="EncodingTypes">
				<xs:list itemType="xs:string"/>
			</xs:simpleType>
			<xs:element name="Capabilities" type="trc:Capabilities"/>
			<!--===============================-->
			<xs:element name="CreateRecording">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingConfiguration" type="tt:RecordingConfiguration">
							<xs:annotation>
								<xs:documentation>Initial configuration for the recording.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateRecordingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>The reference to the created recording.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRecording">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>The reference of the recording to be deleted.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRecordingResponse">
				<xs:complexType>
					<xs:sequence>
			          </xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordings">
				<xs:complexType>
					<xs:sequence>
			          </xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingItem" type="tt:GetRecordingsResponseItem" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of recording items.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetRecordingConfiguration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>Token of the recording that shall be changed.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecordingConfiguration" type="tt:RecordingConfiguration">
							<xs:annotation>
								<xs:documentation>The new configuration.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetRecordingConfigurationResponse">
				<xs:complexType>
					<xs:sequence>
			          </xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingConfiguration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>Token of the configuration to be retrieved.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingConfigurationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingConfiguration" type="tt:RecordingConfiguration">
							<xs:annotation>
								<xs:documentation>Configuration of the recording.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTrack">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>Identifies the recording to which a track shall be added.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TrackConfiguration" type="tt:TrackConfiguration">
							<xs:annotation>
								<xs:documentation>The configuration of the new track.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTrackResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrackToken" type="tt:TrackReference">
							<xs:annotation>
								<xs:documentation>The TrackToken shall identify the newly created track. The
							TrackToken shall be unique within the recoding to which
							the new track belongs.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteTrack">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>Token of the recording the track belongs to.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TrackToken" type="tt:TrackReference">
							<xs:annotation>
								<xs:documentation>Token of the track to be deleted.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteTrackResponse">
				<xs:complexType>
					<xs:sequence>
			          </xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTrackConfiguration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>Token of the recording the track belongs to.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TrackToken" type="tt:TrackReference">
							<xs:annotation>
								<xs:documentation>Token of the track.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTrackConfigurationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrackConfiguration" type="tt:TrackConfiguration">
							<xs:annotation>
								<xs:documentation>Configuration of the track.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetTrackConfiguration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>Token of the recording the track belongs to.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TrackToken" type="tt:TrackReference">
							<xs:annotation>
								<xs:documentation>Token of the track to be modified.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TrackConfiguration" type="tt:TrackConfiguration">
							<xs:annotation>
								<xs:documentation>New configuration for the track.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetTrackConfigurationResponse">
				<xs:complexType>
					<xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateRecordingJob">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobConfiguration" type="tt:RecordingJobConfiguration">
							<xs:annotation>
								<xs:documentation>The initial configuration of the new recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateRecordingJobResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobToken" type="tt:RecordingJobReference">
							<xs:annotation>
								<xs:documentation>The JobToken shall identify the created recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="JobConfiguration" type="tt:RecordingJobConfiguration">
							<xs:annotation>
								<xs:documentation>
							The JobConfiguration structure shall be the configuration as it is used by the device. This may be different from the
							JobConfiguration passed to CreateRecordingJob.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRecordingJob">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobToken" type="tt:RecordingJobReference">
							<xs:annotation>
								<xs:documentation>The token of the job to be deleted.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRecordingJobResponse">
				<xs:complexType>
					<xs:sequence>
			          </xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingJobs">
				<xs:complexType>
					<xs:sequence>
			          </xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingJobsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobItem" type="tt:GetRecordingJobsResponseItem" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of recording jobs.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetRecordingJobConfiguration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobToken" type="tt:RecordingJobReference">
							<xs:annotation>
								<xs:documentation>Token of the job to be modified.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="JobConfiguration" type="tt:RecordingJobConfiguration">
							<xs:annotation>
								<xs:documentation>New configuration of the recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetRecordingJobConfigurationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobConfiguration" type="tt:RecordingJobConfiguration">
							<xs:annotation>
								<xs:documentation>The JobConfiguration structure shall be the configuration
							as it is used by the device. This may be different from the JobConfiguration passed to SetRecordingJobConfiguration.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingJobConfiguration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobToken" type="tt:RecordingJobReference">
							<xs:annotation>
								<xs:documentation>Token of the recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingJobConfigurationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobConfiguration" type="tt:RecordingJobConfiguration">
							<xs:annotation>
								<xs:documentation>Current configuration of the recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetRecordingJobMode">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobToken" type="tt:RecordingJobReference">
							<xs:annotation>
								<xs:documentation>Token of the recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Mode" type="tt:RecordingJobMode">
							<xs:annotation>
								<xs:documentation>The new mode for the recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetRecordingJobModeResponse">
				<xs:complexType>
					<xs:sequence>
			          </xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingJobState">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobToken" type="tt:RecordingJobReference">
							<xs:annotation>
								<xs:documentation>Token of the recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingJobStateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="State" type="tt:RecordingJobStateInformation">
							<xs:annotation>
								<xs:documentation>The current state of the recording job.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingOptions">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordingToken" type="tt:RecordingReference">
							<xs:annotation>
								<xs:documentation>Token of the recording.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRecordingOptionsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Options" type="trc:RecordingOptions">
							<xs:annotation>
								<xs:documentation>Configuration of the recording.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:complexType name="RecordingOptions">
				<xs:sequence>
					<xs:element name="Job" type="trc:JobOptions"/>
					<xs:element name="Track" type="trc:TrackOptions"/>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="JobOptions">
				<xs:attribute name="Spare" type="xs:int">
					<xs:annotation>
						<xs:documentation>Number of spare jobs that can be created for the recording.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CompatibleSources" type="tt:StringAttrList">
					<xs:annotation>
						<xs:documentation>A device that supports recording of a restricted set of Media Service Profiles returns the list of profiles that can be recorded on the given Recording.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:complexType name="TrackOptions">
				<xs:attribute name="SpareTotal" type="xs:int">
					<xs:annotation>
						<xs:documentation>Total spare number of tracks that can be added to this recording.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SpareVideo" type="xs:int">
					<xs:annotation>
						<xs:documentation>Number of spare Video tracks that can be added to this recording.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SpareAudio" type="xs:int">
					<xs:annotation>
						<xs:documentation>Number of spare Aduio tracks that can be added to this recording.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SpareMetadata" type="xs:int">
					<xs:annotation>
						<xs:documentation>Number of spare Metadata tracks that can be added to this recording.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
		</xs:schema>
